
<!-- 
<link rel="stylesheet" type="text/css" href="/modules/graph/css/sidebar.css"> 
<link rel="stylesheet" type="text/css" href="/modules/graph/css/graph.css"> 
-->

<script type="text/javascript">
	/// Load graph css ///////
	[ '/modules/graph/css/sidebar.css'
	, '/modules/graph/css/graph.css'	  
	].forEach( function(cssfile) {
		var fileref = document.createElement("link")
		fileref.setAttribute("rel", "stylesheet")
		fileref.setAttribute("type", "text/css")
		fileref.setAttribute("href", cssfile);
		
		document.getElementsByTagName("head")[0].appendChild(fileref);
	})
</script>

<div ng-app="Graph" ng-init="initilizeGraph()">

    <nav id="topbar" class="navbar navbar-fixed-top no-margin" >
    
 		<div id="brand" class="navbar-header fixed-brand hidden-sm hidden-xs">
            <span class="navbar-brand" title="Sdma Graph v{{_revision}}">
                <img alt="AERO+" ng-src="{{_brandIcon}}">
            </span>
		</div>
		
		<div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                	<button id="menu-toggle-2" class="navbar-toggle collapse in" data-toggle="collapse"> 
                		<span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                	</button>
                </li> 
            </ul>

  			<ul class="nav navbar-nav hidden-sm hidden-xs">
				<li><a>
				<span id="request-fullscreen" class="glyphicon glyphicon-fullscreen" title="Fullscreen ON/OFF"></span> 
				</a></li> 
			</ul>

			<ul id="filepath" class="nav navbar-nav navbar-center hidden-xs">
                <li style="max-width:408px;">
					<a title="{{_activePath}}"> 
					   <span class="fa fa-file-o" title="Click to select another file" style="cursor:pointer"></span>
					   <span class="ltab">{{shortPath()}}</span>
					</a>
				</li> 
            </ul>  

  			<ul id="userinfo" class="nav navbar-nav navbar-right hidden-md hidden-sm hidden-xs">				
				<li style="margin-left:10px;cursor:default;">
					<a title="Logout ..." ng-href="#/logout/{{_login}}/graph">
						<i class="glyphicon glyphicon-user"></i>
						<span class="ltab">{{_login}}</span>
				    </a>
				 </li>  
			</ul>
		</div>
    </nav>
    
    <div id="wrapper"> 
    
       <div class="orderMenu">
			<ul>
			  	<li><a> 
				<i ng-click="reorderParent()" title="Order Parents" class="fa fa-sort-amount-desc fa-border"></i>
				<i ng-click="reorderAll()" title="Order All" class="fa fa-bars fa-border"></i>
				<i ng-click="reorderChild()" title="Order Children" class="fa fa-sort-amount-asc fa-border"></i>  
				
				<i ng-click="moveAll()" title="Move down" class="fa fa-long-arrow-down fa-border"></i>
				
				<i ng-click="decaler(true)" title="Move left" class="fa fa-long-arrow-left fa-border"></i>
				<i ng-click="decaler()" title="Move right" class="fa fa-long-arrow-right fa-border"></i>
				
				<i ng-click="moveAll(true)" title="Move up" class="fa fa-long-arrow-up fa-border"></i>                                 					  	        
			   </a></li> 
			</ul>
		</div>
		
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked">

 				<!--========================== ACTIVE DATA ===============================-->
				 <li class="titre activeData" ng-class="{hidden : isMultipleData()}">
                    <a href="" title="actdata">
                    	<span class="titre">ACTIVE DATA</span> 
                    	<span class="rtab" style="margin-left:5%;"><i class="fa fa-angle-down"></i></span>
                    	<span id="actdata" ng-click="activeDataChange()" 
                    		  data-toggle="popover" data-placement="right" data-html="true"
	    	                  data-container="body" data-content="Click to load selection OR Cancel"
                              class="glyphicon glyphicon-open ic-disabled pull-right"></span>
                        <span id="canceldata" class="pull-right" ng-click="restoreActiveSel($event)"><i class="fa fa-refresh"></i></span>
                    </a>
                    <ul class="nav-pills nav-stacked current">
		                <li ng-repeat="(metaLbl, tOpts) in _hActiveData">
							<a href="" class="metadata">
							    <span class="fa-stack"><i class="fa fa-stack-1x" ng-class="getClass(metaLbl)"></i></span>
								<span>{{metaLbl}}</span>  
 								<select id="{{idOf(metaLbl)}}" title="{{metaName(metaLbl)}}">
									<option ng-repeat="opt in tOpts track by $index" 
											value="{{opt}}" title="{{$index}}"  
											ng-selected="isSelected(metaLbl,opt)">{{opt}}</option>
								</select>
							</a>
						</li>
					</ul>
				</li>
				
                <!--========================== FILTER ===============================-->
				<li class="titre">
				    <a href="" title="filter"><span class="titre">FILTER</span>
                    	<span class="rtab" style="margin-left:26%;"><i class="fa fa-angle-down"></i></span>
                    </a>
				</li>
				
				<li class="menu filter" title="VERSION">
                    <a href="">
                        <span class="fa-stack"><i class="fa fa-code-fork fa-stack-1x"></i></span>
                        <span>Version</span><span class="fa fa-caret-up" style="margin-left:13%;"></span>
                     	<span class="fa-stack pull-right" ng-class="{hidden : isEmpty(_hVersion)}">
                    		<i id="all_version"class="fa fa-circle-o fa-stack-1x"></i>
                    	</span>
                    </a>
                    <ul id="version" class="nav-pills nav-stacked submenu">
                    	<li><a href="" title="Only last version">
								<span class="badger">0</span>
							    <span class="text-primary">Last</span>
								<span class="fa fa-check-circle-o pull-right last" id="lastVersion"></span>
							</a> 
						</li>
						<li ng-repeat="(pwdt, nb) in _hVersion">
							<a href="" title="{{pwdt}}">
							     <span class="badger">{{nb}}</span>
							     <span class="">{{pwdt}}</span>
								 <i class="fa fa-square-o pull-right"></i>
							</a>
						</li>
					</ul>
                </li>
                
                <li class="menu filter" title="EXTENSION">
                	<a href="">
                        <span class="fa-stack"><i class="fa fa-ellipsis-h fa-stack-1x"></i></span>
                        <span>Extension</span><span class="fa fa-caret-up" style="margin-left:7%;"></span>
                    	<span class="fa-stack pull-right" ng-class="{hidden : isEmpty(_hExtension)}">
                    		<i id="all_extension" class="fa fa-check-circle-o fa-stack-1x"></i>
                    	</span>
                    </a>
                    <ul  id="extension" class="nav-pills nav-stacked submenu">
						<li ng-repeat="(pwdt, nb) in _hExtension">
							<a href="" title="{{pwdt}}">
							     <span class="badger">{{nb}}</span>
							     <span class="">{{pwdt}}</span>
								 <span class="fa fa-check-square-o pull-right"></span>
							</a>
						</li>
					</ul>
                </li>
                  
				<!-- ========================================================== -->
				<li class="titre">
				    <a href=""  title="edit">
				        <span class="titre">EDIT</span>
                    	<span class="rtab" style="margin-left:32%;"><i class="fa fa-angle-down"></i></span>
                    </a>
				</li>
				
				<li class="edit">
				    <a href="javascript:collapse('#collapseAll')" title="Collapse all parents">
				    	<span class="fa-stack"><i class="fa fa-navicon fa-stack-1x"></i></span>
				    	<span class="">Collapse all</span>
				    	<span class="fa-stack pull-right switch">
				    		<i id="collapseAll" class="fa fa-toggle-off fa-stack-1x"></i>
				    	</span>
				    </a> 
				</li>
				
				<li class="edit">
				    <a href="javascript:toggleCheckboxes('#showCheck');" title="Show check-boxes allowing to choose">
				    	<span class="fa-stack"><i class="fa fa-edit fa-stack-1x"></i></span>
				    	<span class="">Toggle Check</span>
				    	<span class="fa-stack pull-right switch">
				    		<i id="showCheck" class="fa fa-toggle-off fa-stack-1x"></i>
				    	</span>
				    </a> 
				</li>

 				<li class="exportItem menu-p edit" title="PARENT CHECK"  id="ancestrCheckAll"> 
				    <a href="javascript:checkAll('#chckancestr', false);" title="Check and select all children">
				    	<span class="fa fa-check"></span>
				    	<span class="lemsp">Check Parents</span>
				    	<span class="fa fa-square-o pull-right" id="chckancestr"></span>
				    </a> 
				</li>
				
				<li class="exportItem menu-c edit" id="childCheckAll"> 
				    <a href="javascript:checkAll('#chckchild', true)" title="Check and select all children">
				    	<span class="fa fa-check"></span>
				    	<span class="lemsp">Check Children</span>
				    	<span class="fa fa-square-o pull-right" id="chckchild"></span>
				    </a> 
				</li>
				
				<li class="exportItem menu-p edit" id="hideUncheck"> 
				    <a href="javascript:hideUchecked('#hUchk')" title="Hide unchecked parents">
				    	<span class="fa fa-adjust"></span>
				    	<span class="lemsp">Hide Unchecked</span>
				    	<span class="fa fa-square-o pull-right" id="hUchk"></span>
				    </a> 
				</li>
				
               <li class="titre">
                   <a href="" id="exportedFiles" title="links">
                    	<span class="titre">EXPORT</span> 
                    	<span class="rtab" style="margin-left:22%;"><i class="fa fa-angle-down"></i></span>
                    	<span id="doExporting" onclick="exportFiles()" title="Do Exporting"
                    		  class="fa fa-cloud-upload ic-disabled pull-right"></span>
                   </a>
                    
                  <ul class="links submenu">
					<li ng-repeat="(fname, path) in _exported">
						<a href="" title="{{path}}" style="white-space: nowrap;">
 					 		<span class="fa-stack" title="Download this file">
 					 			<i class="fa fa-download fa-stack-1x" ng-click="getExported($event,path)"></i>
 					 		</span>
					 		<span class="exportText" ng-click="openExported($event,path)">{{fname}}</span>
					 		<span class="fa-stack pull-right" title="Click to delete file">
					 			<i class="fa fa-trash-o fa-stack-1x" ng-click="delExported($event,path)"></i>
					 		</span>
						</a> 
					</li>
					<li><a style="color:transparent;cursor:none;">-</a></li>
				  </ul>
              </li> 
              
              <li class="bottom-sidebar"><a style="color:transparent;cursor:none;">-</a></li>
            </ul>
            
        </div><!-- sidebar-wrapper -->
         
		<!-- MAIN Page Content -->
        <div id="main" class="container"></div> 
        
    </div><!--end -wrapper--> 

	<!-- GRAPH JS -->
<!-- 	<script src="/modules/graph/js/graph-events.js">  -->
    <script>
    	$(document).ready(function() { READY(); });
	</script> 
	
</div>
