
/**======================= Login Index ======================*/

.logo-name {
    color: rgb(230, 230, 230) !important;
    letter-spacing: -5px;
    font-weight: 400;
}

.header {}

.middle-box {
    margin: 0px auto;
    padding-top: 30px;
    z-index: 100;
}

.middle-box h1 {
    font-size: 120px;
}

.middle-box h3 {
    font-weight: 400;
    margin-top: 5px; 
    font-size: 16px;
}

#myform {
	display: inline-block;
    text-align: center;
}
    
/* .form-group input[type=text]
, .form-group input[type=password]
, .form-group input[type=submit] {
	width : 300px;
} */

.appli {
	margin: 60px 0px 80px 0px;
}

.hpc, .host {
	display:none;
} 

.radio-inline {
	font-size: 12px;
	padding: 0 15px;
}

.radio-inline i {
	margin-bottom: 4px;
}

.radio-inline input[type=radio] {
	position: absolute;
	margin-left:-10px;
	margin-top: 2px;
}

.radio-inline span {
	position: relative;
	margin-left: 10px;
	font-size: 12px;
} 

.help-block {
	color: red;
}

/**====================================================================*/
.center {text-align:center;}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    
    text-align:center;
    z-index:1234;
    overflow: auto;
    
    width:  100px; /* width of the spinner gif */
    height: 102px; /*height of the spinner gif +2px to fix IE8 issue */
    
    background: url('../images/spinner.gif');
    
    display:none;
}

.fa-spinner.fa-spin {	
    position: fixed;
    top: 50%;
    left: 50%;
    
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    
    text-align:center;
    z-index:1234;
    overflow: auto;
}

.wait, .wait * { cursor: wait !important; } 

.gray-bg {
    color: rgb(103, 106, 108);
/*     font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; */
/*     font-family: Open Sans, Helvetica Neue; */
/*     font-family: Helvetica Neue;*/
    font-family: Arial;
/*     font-family: sans-serif;   */
    font-size: 12px;
    -ms-overflow-x: hidden;
    background-color: rgb(243, 243, 244);
    height: 100%;
    font-weight: 400;
}

.fadeInDown {
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
}

.animated {
    z-index: 100;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
}

.m-t {
    margin-top: 15px;
}

.m-tt {
    margin-top: 30px;
}

.p-t {
    padding-top: 15px;
}

.m-b {
    margin-bottom: 15px;
} 

.p-b {
    padding-bottom: 15px;
}

.full-width {
    width: 100% !important;
}

.block {
    display: block;
} 

#dropPlus {
	cursor:pointer;
	top : -20px;
	left: 20px;
}

select {
	line-height:35px;
}

/* .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox]
, .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px;
    margin-left: -30px;
}
 */

/**======================= TREE VIEW css ======================*/
#treeview-searchable .glyphicon.glyphicon-file {
	color : #337ab7;
	margin-right:8px;
}

#treeview-searchable .node-selected .glyphicon.glyphicon-file {
	color : #fff;
}

.node-treeview-searchable span.lastIndent { 
	margin-left:0px !important; 
	margin-right:2px  !important;
}

.node-treeview-searchable .lastIndent:before {
  content:"----"; 
  height : 0;
  border-left:1px dotted #666;
  color: #999;
  
/*   margin-top  : -1px; */
  margin-right: 0px;
  
  position:relative;  
  left : 5px;
}
 
/**=============================================*/
.hachure-degrade {
	background:  
	  repeating-linear-gradient(
	    45deg,
	    transparent,
	    transparent 10px,
	    #ccc 10px,
	    #ccc 20px
	  ), 
	  linear-gradient(
	    to bottom,
	    #eee,
	    #999
	  );
}

.hachure {
	background: repeating-linear-gradient(
	  45deg,
	  #fff,
	  #fff 5px,
	  #efefef 5px,
	  #efefef 10px
	);
}

/**=============================================*/
